
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    user-select: none;
    color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #ffeb3b;
}

header .logo span {
    font-weight: bold;
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #ffeb3b;
    font-weight: bold;
}

#hero {
    text-align: center;
    padding: 100px 20px;
    background:  #0d0d0dc6;
    color: #ffeb3b;
}

#hero .highlight {
    color: #f9d923;
}

.section {
    padding: 50px 20px;
    text-align: center;
}

.plan-highlight {
    background-color: #202020;
    color: #ffeb3b;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
}

.plan-highlight ul {
    list-style: none;
    padding: 0;
}

.plan-highlight li {
    margin: 10px 0;
}

.cta-button {
    background-color: #ffeb3b;
    color: #121212;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #f9d923;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #ffeb3b;
    font-size: 0.9em;
}
a{
    color: #ffeb3b;
    text-decoration:none;
}
.chart-container {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    height: 80vh;
  }
  
  .chart {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 400px;
    background: linear-gradient(to top, #444, black);
    margin: 20px auto;
    padding: 30px;
    border: 2px solid yellow;
    border-radius: 5px;
  }
  
  .bar {
    
    width: 3%;
    background-color: yellow;
    transition: transform 0.3s ease;
    border: 2px solid black;
    position: relative;
  }
  
  .bar:hover {
    transform: scale(1.1);
  }
  
  .bar::after {
    margin-bottom: 10px;
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 14px;
  }
  